.chat-window{
    width:80%;
    max-width:900px;

    margin:40px auto;

    background:#f8fafc;

    border-radius:10px;

    padding:20px;

    min-height:500px;

    box-shadow:0 5px 20px rgba(0,0,0,.08);
}